form(action='/member', method='post') 
    label(for='memberPassword') Enter The Secret ClubHouse Password
    input#memberPassword(type='text', name='memberPassword')
    button(type="submit") Enter
